/*/ *Utility Section* /
div.utilityFunctions {
     position: absolute;
     right: 10px;
     top: 5px;
}

.utilityFunctions input
{
    width: 30px;
}

.utilityFunctions .ui-slider
{
    display:inline-block;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}
.utilityFunctions .jxgbox 
{
    margin-top: 10px;
    / *THIS DOES NOT WORK. THE JGX FRAMEWORK NEEDS THE VALUES INLINE* /
    height: 300px;
    width: 300px;
}
.utilityFunctions .slide-wrapper {
    display: inline-block;
    position: absolute;
    right: 0;
}


/ *Weighting sections* /
ul.toolHierarchy {
    margin:10px;
}
.toolHierarchy div
{
    margin-left: 20px;
}

.toolHierarchy input
{
    width: 30px;
    margin-left: 2px;
}

.toolHierarchy span.label
{
    font-size: 75%;
    padding: 0 2px 0 10px;
}

.toolHierarchy p
{
    position: absolute;
    left: 200px;
    top: 0;
}

.toolHierarchy li
{
    position: relative;
}

.toolHierarchy .invalid-value
{
    color: red;
}

.toolHierarchy .ui-slider
{
    display:inline-block;
    width:150px;
}

.toolHierarchy .funcButton:hover
{
    cursor: pointer;
}
.toolHierarchy .funcButton
{  
    vertical-align:text-top;
    vertical-align:sub;
    margin-left: 10px;
}

.toolHierarchy .funcCategory {
    vertical-align:text-top;
    vertical-align:sub;
    margin-left: 10px;
}

.toolHierarchy .funcWeight {
  margin-left: 10px;
  vertical-align:text-top;
  vertical-align:sub;
  width: 50px;
  color: navy;
}

.toolHierarchy .menuItem {
  color: blue;
}*/
