@{
    ViewBag.Title = "PVMapper Contact Us";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

@section header{
<link href="/lpresources/style/contact.css" rel="stylesheet" type="text/css" /> <!-- AJAX Contact Form Stylesheet -->
<script src="/lpresources/js/jquery.jigowatt.js"></script>
}



<!--SubPage Toprow Begin-->
<div id="toprowsub">
  <div class="center">
    <h2>Feedback Form</h2>
  </div>
</div>
<!--Toprow END-->
<!--SubPage MiddleRow Begin-->
<div id="midrow">
  <div class="center">
    <div class="textbox2">
    <section id="contact">

		<header>


			<p>Please leave your feedback so that we can make our software more awesome.</p>

		</header>

		<mark id="message"></mark>

		<form method="post" action="/lpresources/contact.php" name="contactform" id="contactform" autocomplete="on">

			<fieldset>

				<legend>Contact Details</legend>

				<div>
					<label for="name" accesskey="U">Your Name</label>
					<input name="name" type="text" id="name" placeholder="Enter your name" required />
				</div>
				<div>
					<label for="email" accesskey="E">Email</label>
					<input name="email" type="email" id="email" placeholder="Enter your Email Address" pattern='^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$' required />
				</div>

				<div>
					<label for="phone" accesskey="P">Phone <small>(optional)</small></label>
					<input name="phone" type="tel" id="phone" size="30" placeholder="Enter your phone number" />
				</div>

			

			</fieldset>

			<fieldset>

				<legend>Your Comments</legend>

				<div>
					<label for="subject" accesskey="S">Subject</label>
					<select name="subject" id="subject" required="required">
						<option value=""></option>
						<option value="Suggestions">Suggestions</option>
						<option value="Questions">Questions</option>
						<option value="A Bug fix">Report a bug</option>
					</select>
				</div>

				<div>
					<label for="comments" accesskey="C">Comments</label>
					<textarea name="comments" cols="40" rows="5" id="comments" placeholder="Enter your comments" spellcheck="true" required></textarea>
				</div>

			</fieldset>

			<fieldset>

				<legend>Are you human?</legend>

				<label for="verify" accesskey="V" class="verify"><img src="/lpresources/image.php" alt="Verification code" /></label>
				<input name="verify" type="text" id="verify" size="6" required style="width: 50px;" title="This confirms you are a human user and not a spam-bot." />

			</fieldset>

			<input type="submit" class="submit" id="submit" value="Submit" />

		</form>

	</section>
    </div>
  </div>
</div>
<!--MiddleRow END-->
