html
{
    height: 100%;
}
body
{
    width: 100%;
    overflow:hidden;
    height:100%;
}

.float-right
{
    float: right;
}
.float-left
{
    float: left;
}

#body
{
    clear: both;
    width:100%;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    /*height:100%;*/
}
.main-content
{
    height: 100%;
}

table {
    width: 100%;
}

/*This can all be removed when the css page naming convention is finalized*/
.propertyBoard td {
    /*padding: 2px 4px;*/ /* <-- Note: this caused a bug in the scoreboard's categorical view  */
}

.propertyBoard .x-window-body {
     background: none repeat scroll 0% 0% white;
     background:white;
     
}
.propertyBoard tr:nth-child(2n) {
    background: rgb(244,252,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZmNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2UzZWVmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGZjZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(244,252,255,1) 0%, rgba(227,238,242,1) 47%, rgba(244,252,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,252,255,1)), color-stop(47%,rgba(227,238,242,1)), color-stop(100%,rgba(244,252,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(244,252,255,1) 0%,rgba(227,238,242,1) 47%,rgba(244,252,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(244,252,255,1) 0%,rgba(227,238,242,1) 47%,rgba(244,252,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(244,252,255,1) 0%,rgba(227,238,242,1) 47%,rgba(244,252,255,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(244,252,255,1) 0%,rgba(227,238,242,1) 47%,rgba(244,252,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fcff', endColorstr='#f4fcff',GradientType=0 ); /* IE6-8 */

}

.propertyBoard tr.header {
    background:orange;
     background: -moz-linear-gradient(center top , #F7F7F7 0%, #F7F7F7 65%, #D3D3D3 100%) repeat scroll 0% 0% transparent;
     border-bottom: 1px double grey;
     color: black;
     font-weight: bold;
}

.ux-rating-star-zero {
	/*background: transparent;*/
	/*overflow: hidden;*/
	opacity: 0.5;
}

.ux-rating-star-on {
	/*background: transparent;*/
	/*overflow: hidden;*/
}

.ux-rating-star-off {
	/*background: transparent;
	overflow: hidden;*/
	/*background-position:0 -16px!important*/
	opacity: 0.3;
}

.x-ux-grid-printer {
  background-image: url(../Images/printer.png);
}

.x-action-col-icon {
    cursor: pointer;
}

.x-action-col-icon.x-item-disabled {
    cursor: default;
}
