/*Template: Calliope
  Author: Towfiq I.
  website: www.towfiqi.com
*/

body {margin: 0px;padding: 0px;border: 0px;font-family:Arial, Helvetica, sans-serif;background:#E6E6E6;color:#666;}

/*Fonts*/
h1 { font-size:20px; font-weight:bold; color:#333;}
h2 { font-size:24px; font-weight:bold; color:#222; margin:0px;}
h3 {font-size:14px; font-weight:bold; color:#333;}
/*Fonts END*/

#header {
	
	background: #066dab;
background: -moz-linear-gradient(top,  #066dab 0%, #8abbd7 69%, #c5deea 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#066dab), color-stop(69%,#8abbd7), color-stop(100%,#c5deea));
background: -webkit-linear-gradient(top,  #066dab 0%,#8abbd7 69%,#c5deea 100%);
background: -o-linear-gradient(top,  #066dab 0%,#8abbd7 69%,#c5deea 100%);
background: -ms-linear-gradient(top,  #066dab 0%,#8abbd7 69%,#c5deea 100%);
background: linear-gradient(to bottom,  #066dab 0%,#8abbd7 69%,#c5deea 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#066dab', endColorstr='#c5deea',GradientType=0 );

height:100px;border-bottom:solid 1px #333333;}

#toprow {height:372px;border-top:solid 1px #1d1d1d;background: #FFFFFF url(images/bg1.gif) repeat-x;}
#toprowsub {height:70px;border-bottom:solid 1px #ccc;background: #FFFFFF url(images/bg2.gif) repeat-x;}
#toprowsub h2{padding:15px 30px;}
#midrow {width:960px;margin:0 auto;}
#bottomrow {width:960px;margin:0 auto;}

/*LOGO*/
#logo{padding-top:25px;width:207px;float:left;}
#logo a{background:url(images/logo.png) no-repeat;display:block;width:235px;height:53px;text-indent:-10000px;}
/*LOGO END*/

/*Menu Begin*/
#menu{float:right;margin-top:30px;}
#menu ul li{ display:inline; list-style-type:none;margin-bottom:20px;}
#menu ul li a{margin:-10px 5px;}
/*#menu ul li a span{font-size:14px; text-decoration:none; padding:0px 10px; color:#999999;}
#menu ul li a.active{background:url(images/menur.gif) no-repeat right;}
#menu ul li a.active span{background:url(images/menul.gif) no-repeat left; padding:5px 10px;color:#333;}
#menu ul li a:hover{background:url(images/menur.gif) no-repeat right; font-weight:bold;}
#menu ul li a:hover span{background:url(images/menul.gif) no-repeat left; padding:5px 10px;color:#333;}
Menu End*/

.center{width:960px;margin:0 auto;}

/*SlideShow Begin*/
#cu3er-container {margin-top:60px;padding-left:0px;padding-right:0px;width:960px;}
#cubershadow{width:960px;height:372px;background:url(images/shadow.jpg) no-repeat bottom;}
/*SlideShow End*/

/*Homepage Boxs*/
#container {float:left;}
.box {margin-top:20px;padding-top:10px;width:25%;height:auto;float:left;background:url(images/border.jpg) no-repeat bottom right;}
.box h1{padding-left:10px;}
.box p {margin:0px;width:200px;padding:15px 5px 10px 5px;float:left;}
.last{background:none;}

a.plan{float:left;display:block;width:83px;height:101px;background:url(images/plan.jpg) no-repeat 0px -101px;text-indent:-1000px;}
a.plan:hover{ background-position: 0px 1px;}
a.whyus{margin-top:10px;float:left;display:block;width:83px;height:87px;background:url(images/whyus.jpg) no-repeat 0px 0px;text-indent:-1000px;}
a.whyus:hover{ background-position: 0px -88px;}
a.support{margin-top:14px;float:left;display:block;width:83px;height:72px;background:url(images/support.jpg) no-repeat 0px 0px;text-indent:-1000px;}
a.support:hover{ background-position: 0px -70px;}

a.button{background:url(images/buttonr.gif) no-repeat right; padding:3px 0px; margin-left:2px; color:#CCCCCC; text-decoration:none; }
.button span{background:url(images/buttonl.gif) no-repeat left; padding:3px 5px;}
/*Homepage Boxs END*/

/*Subpage Boxs*/
#box2holder{padding: 20px 30px;}
.box2{width:450px; float:left; padding:20px 0px;}
.box2 img{ border: solid 5px #F2F2F2; float:left;}
.box2 h3{margin:0px; padding:0px 5px; float:left;}
.box2 p{width:220px; float:left;padding:5px 5px; margin:0px;}
/*Subpage Boxs END*/


/*Footer*/
#footer {
	
	background: #c5deea;
background: -moz-linear-gradient(top,  #c5deea 0%, #8abbd7 31%, #066dab 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5deea), color-stop(31%,#8abbd7), color-stop(100%,#066dab));
background: -webkit-linear-gradient(top,  #c5deea 0%,#8abbd7 31%,#066dab 100%);
background: -o-linear-gradient(top,  #c5deea 0%,#8abbd7 31%,#066dab 100%);
background: -ms-linear-gradient(top,  #c5deea 0%,#8abbd7 31%,#066dab 100%);
background: linear-gradient(to bottom,  #c5deea 0%,#8abbd7 31%,#066dab 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 );

	
	float:left;width:100%;border-top:solid 1px #333333;}
.foot{width:960px;margin:0 auto; padding:10px 0px; font-size:12px;}
.foot a:link{color:#999;text-decoration:none;}
/*Footer END*/


.textbox{float:left;padding:50px 0px;width:700px;}
.textbox2{padding:10px 30px; background:url(images/textbox2bg.gif) repeat-x;}
.feed{width:auto; float:left;}
.feed img{ border: solid 0px; margin-top:120px; padding:0px 7px;}


/* Menu Button */

.menuButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:3113d6;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:24px;
	line-height:24px;
	width:125px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}
.menuButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.menuButton:active {
	position:relative;
	top:1px;
}

/*CSS Code for test*/
.featureImage {
	
	height: 115px;
	width: 115px;
	overflow: visible;
	position: relative;
}

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:5s;-moz-animation-duration:5s;-ms-animation-duration:5s;-o-animation-duration:5s;animation-duration:5s;}.animated.hinge{-webkit-animation-duration:5s;-moz-animation-duration:5s;-ms-animation-duration:5s;-o-animation-duration:5s;animation-duration:5s;}@-webkit-keyframes swing {
	20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }	20% { -webkit-transform: rotate(15deg); }	
	40% { -webkit-transform: rotate(-10deg); }
	60% { -webkit-transform: rotate(5deg); }	
	80% { -webkit-transform: rotate(-5deg); }	
	100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes swing {
	20% { -moz-transform: rotate(15deg); }	
	40% { -moz-transform: rotate(-10deg); }
	60% { -moz-transform: rotate(5deg); }	
	80% { -moz-transform: rotate(-5deg); }	
	100% { -moz-transform: rotate(0deg); }
}

@-o-keyframes swing {
	20% { -o-transform: rotate(15deg); }	
	40% { -o-transform: rotate(-10deg); }
	60% { -o-transform: rotate(5deg); }	
	80% { -o-transform: rotate(-5deg); }	
	100% { -o-transform: rotate(0deg); }
}

@keyframes swing {
	20% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }	
	80% { transform: rotate(-5deg); }	
	100% { transform: rotate(0deg); }
}

.swing {
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	-moz-animation-name: swing;
	-o-animation-name: swing;
	animation-name: swing;
}

.vpb_textAreaBoxInputs{min-width:260px;width:auto;height:20px;font-family:Verdana,Geneva,sans-serif;font-size:12px;padding:7px;padding-left:10px;padding-right:10px;border:1px solid #6CF;outline:none;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;line-height:20px;}

.vpb_textAreaBoxInputs:focus{outline:none;border:1px solid #6CF;box-shadow:0 0 10px #6AB5FF;-moz-box-shadow:0 0 10px #6AB5FF;-webkit-box-shadow:0 0 10px #6AB5FF;}

.info{border:1px solid #999;padding:12px 20px 12px 20px;font:bold 12px verdana;-moz-box-shadow:0 0 5px #888;-webkit-box-shadow:0 0 5px#888;box-shadow:0 0 5px #888;text-shadow:2px 2px 2px #ccc;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;font-family:Verdana,Geneva,sans-serif;font-size:11px;line-height:20px;font-weight:normal;color:black;background:#BDE5F8;}

.vpb_general_button{background-color:#7fbf4d;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#7fbf4d),color-stop(100%,#63a62f));background-image:-o-linear-gradient(top,#7fbf4d,#63a62f);background-image:linear-gradient(top,#7fbf4d,#63a62f);border:2px solid #63a62f;box-shadow:0 2px 3px #666666;-moz-box-shadow:0 2px 3px #666666;-webkit-box-shadow:0 2px 3px #666666;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;color:#fff;font-family:Verdana,Geneva,sans-serif;font-size:14px;text-align:center;text-shadow:0 -1px 0 #4c9021;min-width:70px;width:auto;padding:9px;padding-left:13px;padding-right:13px;padding-bottom:7px;text-decoration:none;float:left;}.vpb_general_button:hover{background-color:#76b347;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#76b347),color-stop(100%,#5e9e2e));background-image:-webkit-linear-gradient(top,#76b347,#5e9e2e);background-image:-moz-linear-gradient(top,#76b347,#5e9e2e);background-image:-ms-linear-gradient(top,#76b347,#5e9e2e);background-image:-o-linear-gradient(top,#76b347,#5e9e2e);background-image:linear-gradient(top,#76b347,#5e9e2e);box-shadow:0 2px 3px #666666;-moz-box-shadow:0 2px 3px #666666;-webkit-box-shadow:0 2px 3px #666666;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;cursor:pointer;}