html
{
    height: 100%;
}
body
{
    width: 100%;
    overflow:hidden;
    height:100%;
}

.float-right
{
    float: right;
}
.float-left
{
    float: left;
}

#body
{
    clear: both;
    width:100%;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    height:100%;
}
.main-content
{
    height: 100%;
}