@{
    ViewBag.Title = "PVMapper - find a sweet spot for your solar farm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Doe.PVMapper.Models.WebExtension>

<link rel="stylesheet" type="text/css" href="../../Content/ScoreBoardDemo.css" />
<link href="../../theme/default/style.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    div#jGrowl .jGrowl-notification.warning
    {
        border: #870000 2px solid;
        background-color: #AF0000;
    }

    div#jGrowl .jGrowl-notification.help
    {
        border: #26ADE4 2px solid;
        background-color: #C9EAF8;
        color: black;
    }

    div#jGrowl .jGrowl-notification.info
    {
        background-color: #ffc200;
        border: 2px solid #a67e00;
        color: black;
    }

    .x-tree-checked .x-grid-cell-inner
    {
        font-style: italic;
        color: #777;
    }
</style>

@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}*@

<div class="content">
    <div id="rootPanel-id">
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="../../Scripts/ViewScripts/Loader.js"></script>
    <script type="text/javascript" src="../../Scripts/ViewScripts/pvMapper.js"></script>
    <script type="text/javascript" src="../../Scripts/ViewScripts/IndexView.js"></script>
    <script type="text/javascript" src="../../Scripts/ViewScripts/Layers.js"></script>
    <script type="text/javascript" src="../../Scripts/ViewScripts/ZoomAction.js"></script>
    <script type="text/javascript" src="../../Scripts/ViewScripts/MeasureDistance.js"></script>
    <script type="text/javascript" src="../../Scripts/ViewScripts/AddNewSite.js"></script>
    <script type="text/javascript" src="../../Scripts/ViewScripts/LoadProjectSites.js"></script>
    <script type="text/javascript" src="../../Scripts/ViewScripts/Scoreboard.js"></script>
    <script type="text/javascript" src="../../Scripts/ViewScripts/SiteManagement.js"></script>
    <script type="text/javascript" src="../../Scripts/jsts/javascript.util.js"></script>
    <script type="text/javascript" src="../../Scripts/jsts/jsts.js"></script>
}
