@{
    ViewBag.Title = "layout2";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div id="map" style="height:100%; width:100%;">
    there should be a map here
</div>

@section scripts{
  <script src="~/Scripts/UI/controller/WeightFunction.js"></script>
  <script src="~/Scripts/UI/view/Modules/NavigateView.js"></script>
  <script src="~/Scripts/UI/view/weightFunctions/FunctionView.js"></script>
  <script src="~/Scripts/UI/view/Modules/PieView.js"></script>
}

